<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-zip"
    version="3.1.0">
  <engines>
    <engine name="cordova" version=">=3.3.0" />
  </engines>
  <dependency id="cordova-plugin-file" version=">=2.0.0" />

  <name>cordova-plugin-zip</name>
  <description>Unzips zip files</description>

  <js-module src="zip.js" name="Zip">
    <clobbers target="zip" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/Zip.java" target-dir="src/org/apache/cordova" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="Zip">
        <param name="android-package" value="org.apache.cordova.Zip"/>
      </feature>
    </config-file>

    <framework src="src/android/compress.gradle" custom="true" type="gradleReference" />
  </platform>

  <platform name="ios">
    <source-file src="src/ios/ZipPlugin.m" />
    <header-file src="src/ios/ZipPlugin.h" />
    <header-file src="src/ios/SSZipCommon.h" />
    <source-file src="src/ios/SSZipArchive.m" target-dir="Plugins" />
    <header-file src="src/ios/SSZipArchive.h" target-dir="Plugins" />

    <source-file src="src/ios/zip.c" target-dir="Plugins" />
    <header-file src="src/ios/zip.h" target-dir="Plugins" />
    <source-file src="src/ios/unzip.c" target-dir="Plugins" />
    <header-file src="src/ios/unzip.h" target-dir="Plugins" />
    <source-file src="src/ios/minishared.c" target-dir="Plugins" />
    <header-file src="src/ios/minishared.h" target-dir="Plugins" />
    <source-file src="src/ios/ioapi_buf.c" target-dir="Plugins" />
    <header-file src="src/ios/ioapi_buf.h" target-dir="Plugins" />
    <source-file src="src/ios/ioapi_mem.c" target-dir="Plugins" />
    <header-file src="src/ios/ioapi_mem.h" target-dir="Plugins" />
    <source-file src="src/ios/ioapi.c" target-dir="Plugins" />
    <header-file src="src/ios/ioapi.h" target-dir="Plugins" />
    <source-file src="src/ios/crypt.c" target-dir="Plugins" />
    <header-file src="src/ios/crypt.h" target-dir="Plugins" />

    <header-file src="src/ios/aes.h" target-dir="Plugins" />
    <header-file src="src/ios/aes_ni.h" target-dir="Plugins" />
    <source-file src="src/ios/aes_ni.c" target-dir="Plugins" />
    <source-file src="src/ios/aescrypt.c" target-dir="Plugins" />
    <source-file src="src/ios/aeskey.c" target-dir="Plugins" />
    <header-file src="src/ios/aesopt.h" target-dir="Plugins" />
    <source-file src="src/ios/aestab.c" target-dir="Plugins" />
    <header-file src="src/ios/aestab.h" target-dir="Plugins" />
    <header-file src="src/ios/brg_endian.h" target-dir="Plugins" />
    <header-file src="src/ios/brg_types.h" target-dir="Plugins" />
    <source-file src="src/ios/fileenc.c" target-dir="Plugins" />
    <header-file src="src/ios/fileenc.h" target-dir="Plugins" />
    <source-file src="src/ios/hmac.c" target-dir="Plugins" />
    <header-file src="src/ios/hmac.h" target-dir="Plugins" />
    <source-file src="src/ios/prng.c" target-dir="Plugins" />
    <header-file src="src/ios/prng.h" target-dir="Plugins" />
    <source-file src="src/ios/pwd2key.c" target-dir="Plugins" />
    <header-file src="src/ios/pwd2key.h" target-dir="Plugins" />
    <source-file src="src/ios/sha1.c" target-dir="Plugins" />
    <header-file src="src/ios/sha1.h" target-dir="Plugins" />

    <config-file target="config.xml" parent="/widget">
      <feature name="Zip">
        <param name="ios-package" value="ZipPlugin"/>
      </feature>
    </config-file>
    <framework src="libz.dylib" />
  </platform>
</plugin>
